<% provide(:title, 'Sign up') %>
<% provide(:submit_url, user_path(@user)) %>
<% provide(:button_text, 'update') %>

<div class="user-form">
  <h1>Update your information</h1>
    <%= render 'form' %>
</div>
