<div class="table-responsive records">
  <table class="table">
    <thead>
      <tr>
        <th>option</th>
        <th>actions</th>
      </tr>
    </thead>
    <%= render @options %>
  </table>
</div>
