<% flash.each do |message_type, message| %>
  <div class = "alert alert-<%= message_type %>">
    <%= link_to sanitize('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'),
                '#',
                class: "pull-right close-flash-message",
                remote: true %>
    
    <%= message_type %>
  </div>
<% end %>
