<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="panel panel-default modal-form">
      <div class="panel-heading">
        <%= heading %>
      </div>
      <%= render html %>
    </div>
  </div>
</div>
