<div class="recordability">
  <div class="row">
    <div class="col-xs-1 col-xs-offset-1">
      <%= recordability_index(recordability) %>
    </div>
    <div class="col-xs-9">
      <ul>
        <% recordability.records.each do |record| %>
          <li class="inline">
            <div class="name">
              <%= "#{record.option.name}" %>
            </div>
            <div class="count">
              <%= " ×#{record.count}" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
