<%= form_for(@record) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <input type="hidden" name="parent_id" value=<%= params[:id] %>>
    <div class="form-inline">
      <% @recorder.options.each do |option| %>
        <%= f.submit option.name, class: "form-control btn btn-primary" %>
      <% end %>
    </div>
<% end %>
