<%= form_for(@record, url: recorder_records_path(@recorder)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="form-inline">
      <% @recorder.options.each do |option| %>
        <%= f.submit option.name, class: "form-control btn btn-primary" %>
      <% end %>
    </div>
<% end %>
