<div class="table-responsive records">
  <table class="table">
    <thead>
      <tr>
        <th>record</th>
        <th>timestamp</th>
      </tr>
    </thead>
    <%= render @records %>
  </table>
</div>

