<ol>
  <li value=<%= record_index(c) %>>
    <div class="row">
      <%= c.option.name %>
    </div>
    <div class="row timestamp">
      <%= time_ago_in_words(c.created_at) %>前
    </div>
  </li>
</ol>
