<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default modal-form">
      <div class="panel-heading">
        <%= heading %>
      </div>
      <div class="panel-body checked">
        <div class="scroll-window">
        <%= render html %>
        </div>
        以上を完全に削除しますか?
      </div>
      <div class="panel-footer">
        <div class="modal-buttons">
          <%= link_to "いいえ", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
          <%= link_to "はい", url, method: :delete, remote: true, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
