@import "bootstrap-sprockets";
@import "bootstrap";

/*universal*/
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box_sizing: border-box;
}

@mixin timestamp_color {
  .timestamp {
    color: gray;
  }
}

@mixin form_standard {
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  background-color: aliceblue;
  border-radius: 4px;
}

@mixin heading {
  .heading {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px double #eee;
    @include flex-inline-container;
    h2 {
      font-size: 1.6em;
      width: 80%;
      word-wrap: break-word;
    }
  }
}

@mixin flex-inline-container {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 100%;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-itmes: baseline;
  align-items: baseline;
}

@mixin caret_btn-group {
  .btn-group {
    position: absolute;
    right: 0;
  }
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

@mixin inline-item {
  border-bottom: 1px solid #eee;
  @include flex-inline-container;
  h3 {
    font-size: 1.2em;
    width: 90%;
    word-wrap: break-word;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center{
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.0em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: navy;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: aqua;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.nested-fields {
  .field-group {
    margin-bottom: 20px;
    .remove_fields {
      font-size: 1em;
    }
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#loading {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
}

ul.unstyled {
  list-style: none;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input:disabled.plural_action_button {
  color: darkgray;
}
input:enabled.plural_action_button {
  color: black;
}

.windowful {
  min-height: 120px;
}

.graph {
  width: 100% !important;
  height: 100%;
  rect {
    text-overflow: ellipsis;
  }
}

/* record form */
.option-bar {
  margin-top: 30px;
  height: 100%;
  min-width: 125px;
  .panel-heading {
    background-color: royalblue;
  }
  .side-item {
    height: 50px;
    text-align: center;
    white-space: nowrap;
  }
  div.side-item {
    font-size: 1.4em;
    border-bottom: 1px solid #eee;
  }
  .record_form {
    width: 100%;
    overflow: auto;
    display: block;
    li {
      text-align: center;
      border-bottom: 1px solid #eee;
      a.side-item {
        font-size: 2.0em;
        color: royalblue;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
      }
    }
  }
}


.records-table {
  @include heading;
  @include timestamp_color;
  .heading {
    div {
      padding-right: 10px;
    }
    a {
      font-size: 1.6em;
    }
  }
  table {
    thead {
      border-bottom: 3px double black;
      display: block;
      width: 100%;
      overflow: visible;
    }
    tbody {
      display: block;
      width: 100%;
      overflow: auto;
      tr {
        width: 100%;
        td.record-no {
          padding-left: 10px;
        }
        td.record-select, td.record-action, td.record-count {
          padding-left: 15px;
        }
        td.record-data {
          padding-left: 20px;
          white-space: normal;
          word-wrap: break-word;
        }
      }
    }
  }
}

/* recorder form */
.setup-button{
   position: fixed;
   bottom: 40px;
   right: 40px;
   z-index: 1000;
}

.recorder-form {
  @include form_standard;
  position: relative;
  padding-bottom: 50px;
  h1 {
    text-align: center;
    font-size: 2.2em;
  }
  textarea, select, .uneditable-input {
    border: 1px, solid #bbb;
    width: 100%;
    @include box_sizing;
  }
  input {
    height: auto !important;
  }
}

/* users/sessioin form */
.user-form {
  @include form_standard;
  max-width: 350px;
  h1 {
    text-align: center;
    font-size: 1.8em;
  }
  .checkbox {
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  .actions {
    margin-top: 10px;
    input {
      width: 100%;
    }
  }
}


#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* recorders index */
.recorders {
  [id^="recorder-"] {
    position: relative;
    width: 100%;
    .link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .heading {
      @include flex-inline-container;
        .text {
          max-width: 90%;
          height: 100%;
          font-size: 1.4em;
          white-space: nowrap;
          overflow-x: hidden;
          overflow-y: visible;
          text-overflow: ellipsis;
        }
      .dropdown-menu {
        left: auto;
        right: 0;
      }
    }
    .informations {
      @include flex-inline-container;
      -webkit-align-itmes: flex-end;
      align-items: flex-end;
      .options-preview {
        .unstyled {
          list-style: none;
        }
        .text {
          max-width: 60px;
          white-space: nowrap;
          overflow-x: hidden;
          overflow-y: visible;
          text-overflow: ellipsis;
        }
        .etc {
          font-weight: bold;
        }
      }
      .updated {
      }
    }
    hr {
      position: relative;
      margin-top: 1px;
      margin-bottom: 0;
      border: 1px double;
    }
  }
}

.modal-form {
  .panel-body {
    text-align: center;
  }
  .modal-buttons {
    text-align: right;
  }
  .scroll-window {
    .recordability {
      border-bottom: 1px solid #eee;
      .inline {
        @include flex-inline-container;
        .name {
          max-width: 80%;
          @include ellipsis;
        }
      }
    }
  }
}

.scroll-window {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  text-align: center;
  border-bottom: 2px double #eee;
  margin-bottom: 10px;
  ul {
    text-align: center;
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }
}

.recorder-items {
  @include heading;
  .recorder-item {
    padding-left: 10px;
    word-wrap: break-word;
    h3 {
      font-size: 1.2em;
    }
    [id^="option-"] {
      @include inline-item;
      h3 {
        max-width: 85%;
      }
    }
  }
  .options-buttons.affix {
    position: fixed;
    top: 50px !important;
  }
  .options-list {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.close-flash-message {
  cursor: pointer;
}

.checked {
  @include timestamp_color;
}

@media screen and (max-width:767px) {
  //slide option-bar
  .options-col {
    position: relative;
    left: -300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 500;
  }
  .slide-button {
    position: absolute;
    top: 70px;
    left: 300px;
    display: block;
    width: 40px;
    height: 80px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
    line-height: 70px;
  }
  .slide-open:after {
      content: "";
      display: block;
      position: absolute;
      top: 35px;
      right: 15px;
      width: 10px;
      height: 10px;
      border-top: 1px solid #CCC;
      border-right: 1px solid #CCC;
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-tansform: rotate(45deg);
  }
  .slide-close:after {
      content: "";
      display: block;
      position: absolute;
      top: 35px;
      right: 15px;
      width: 10px;
      height: 10px;
      border-top: 1px solid #CCC;
      border-left: 1px solid #CCC;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-tansform: rotate(-45deg);
  }
}
