<%= form_for(@recorder, url: yield(:submit_url), method: :post, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="batch_registartion-form">
    <%= render 'option_field' %>
  </div>
  <%= render "shared/modal_form_buttons", f: f %>
  </div>
<% end %>

