<div class="count-buttons">
  <div class="waves-effect waves-green side-btn decrement">
    <i class="material-icons">keyboard_arrow_left</i>
  </div>
  <div class="count-btn btn waves-effect waves-light">
    <%= option.name %>
  </div>
  <div class="waves-effect waves-green side-btn increment">
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
</div>
