<div class="operator">
  <div class="waves-effect waves-green side-btn decrement">
    <i class="material-icons">keyboard_arrow_left</i>
  </div>
  <div class="count"></div>
  <div class="waves-effect waves-green side-btn increment">
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
</div>
<div class="name">
  <%= option.name %>
</div>
