<% provide(:title, 'Edit counter')%>
<% provide(:submit_url, recorder_path(@recorder)) %>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="panel panel-default modal-form">
      <div class="panel-heading">
        カウンター名: <%= @recorder.title %>を変更
      </div>
      <%= render 'title_form' %>
    </div>
  </div>
</div>
