<div class="panel panel-default option-bar">
  <div class="panel-heading side-item">
    <%= link_to "一括記録", new_recorder_recordability_path(@recorder), remote: true %>
    <div>記録</div>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <% if @recorder.options.any? %>
      <section class="record_form">
        <%= render 'shared/record_form' %>
      </section>
    <% end %>
    <li><%= link_to "選択肢を追加", recorder_add_options_path(@recorder), class: "add-link side-item", remote: true %></li>
  </ul>
</div>
