<%= form_for(@recorder, url: recorder_recordabilities_path(@recorder),
  method: :post, remote: true) do |f| %>
  <%= f.fields_for @recordability do |fr| %>
    <div class="modal-content">
      <div class="modal-close modal-close-icon"><i class="material-icons toolbar-icon">close</i></div>
      <ul class="owl-carousel owl-theme modal-main">
        <% @recorder.options.zip(new_fields_for(fr, :records)).each_slice(6).with_index do |items, i| %>
          <li>
            <%= render 'options_form_main', items: items, i: i %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="modal-footer">
      <%= f.submit recorder_recordabilities_path(@recorder), class: "modal-close waves-effect btn-flat" %>
    </div>
  <% end %>
<% end %>
