<div id="first_pagination">
<%= will_paginate %>
</div>

<div class="row">
  <% @recorders.each do |recorder| %>
    <div class="col-md-8 col-md-offset-1 col-sm-12">
      <div id="recorder-<%= recorder.id %>" class="row">
        <%= render recorder %>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate %>
