<% provide(:title, 'All counters') %>
<h1>All counters</h1>

<%= will_paginate %>

<ul class="recorders">
  <% @recorders.each do |recorder| %>
    <%= render recorder %>
  <% end %>
</ul>

<%= will_paginate %>
