<% provide(:title, 'カウンター一覧') %>
<h1>カウンター一覧</h1>

<div class="setup-button"><%= link_to "create new", user_setup_path(@user), class: "btn btn-primary" %></div>

<div id="recorders_index" class="recorders">
  <%= render "recorders" %>
</div>


<div class="modal fade modal-container"></div>
