<% provide(:title, 'Set up')%>
<% provide(:submit_url, user_setup_path(@user)) %>
<% provide(:button_text, '作成') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="recorder-form">
      <h1>カウンター作成</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
