<% provide(:title, @recorder.title) %>
<div class="row">
  <div class="col-xs-3">
   <%= render "options" %>
  </div>
  <div class="col-xs-9 records-table">
    <h1><%= @recorder.title %></h1>
    <% if @recorder.records.count == 0 %>
      <h2>no records</h2>
    <% else %>
      <%= render 'shared/records_table' %>
    <% end %>
  </div>
</div>
