<% provide(:title, @recorder.title) %>
<h1><%= @recorder.title %></h1>
<% if @recorder.options.any? %>
  <div class="row">
    <section class="record_form">
      <%= render 'shared/record_form' %>
    </section>
  </div>
<% end %>
<hr>
<% if @recorder.records.any? %>
  <h2>Records</div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= render 'shared/records_table' %>
    </div>
  </div>
<% end %>
