<header>
  <nav>
    <div class="nav-wrapper" id="nav-header">
      <%= link_to "Counter", root_path, id: "logo", class: "brand-logo right" %>
      <a href="#" data-target="topside-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <%= render 'layouts/nav_item' %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="topside-nav">
    <%= render 'layouts/nav_item' %>
  </ul>
</header>
